
@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<div id="content-div">
    <h1>
        BYU Information Systems Students<br>
        National Competition Winners
    </h1>

    <h2><a href="http://www.aitpncc-contests.org/" style="text-decoration: underline;" target="_blank">Association of IT Professionals National Collegiate Conference Competitions</a></h2>
    <style type="text/css">
        table.award-winners tr:nth-child(even) {
            background-color: whitesmoke;
        }
    </style>
    <!-- Here begins 2014 table -->
    <h3>2014 Winners</h3>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Mobile Application</td>
                <td style="width: 250px">Porter Hoskins &amp; Tahna Black</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Sean Fisher &amp; Tahna Black</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Java Developer</td>
                <td style="width: 250px">Porter Hoskins &amp; Sean Fisher</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Mobile Application</td>
                <td style="width: 250px">Brent Anderson &amp; Brock Walters</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Brent Anderson &amp; Brock Walters</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Java Developer</td>
                <td style="width: 250px">Brent Anderson &amp; Brock Walters</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Business Analytics</td>
                <td style="width: 250px">Tahna Black &amp; Laura Cutler</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Sean Fisher &amp; Tahna Black</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Network Design</td>
                <td style="width: 250px">Brent Anderson</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Microsoft Office Solutions</td>
                <td style="width: 250px">Laura Cutler &amp; Porter Hoskins</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2013 table -->

    <h3>2013 Winners</h3>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Mobile Application</td>
                <td style="width: 250px">Brent Anderson &amp; Peter Nemrow</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Business Analytics</td>
                <td style="width: 250px">Derek Peck &amp; Peter Nemrow</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Business Analytics</td>
                <td style="width: 250px">Heather Dunnigan &amp; Tahna Black</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Derek Peck &amp; Peter Nemrow</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2012 table -->

    <h3>2012 Winners</h3>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Java Developer</td>
                <td style="width: 250px">Nathan Tate &amp; Lane Sawyer</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Nathan Tate &amp; Lane Sawyer</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Business Analytics</td>
                <td style="width: 250px">Nathan Tate &amp; Lane Sawyer</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Business Analytics</td>
                <td style="width: 250px">Heather Dunnigan &amp; Katherine Ashby</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Heather Dunnigan &amp; Katherine Ashby</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Nathan Tate &amp; Lane Sawyer</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Heather Dunnigan &amp; Katherine Ashby</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Joshua Juncker &amp; Todd Wilson</td>
                <td style="width: 250px">Java Developer</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2011 table -->

    <h3>
        <br>
        <span style="font-size: 1em;">2011 Winners</span>
    </h3>
    <!-- Here begins 2011 table -->

    <p><font style="left: 0.5in; position: relative;"><a href="https://marriottschool.byu.edu/bsis/images/2011winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Nathan Cooper, Arthur Weagel</td>
            </tr>
            <tr>
                <td style="width: 150px;">1st Place</td>
                <td style="width: 200px;">Business Intelligence</td>
                <td style="width: 250px;">Nathanael Eborn, James Kershaw</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Eric Christensen, Arthur Weagel</td>
            </tr>
            <tr>
                <td style="width: 150px;">2nd Place</td>
                <td style="width: 200px;">Systems Analysis and Design</td>
                <td style="width: 250px;">Eric Christensen, Tyler Seader</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Nathan Cooper, James Kershaw</td>
            </tr>
            <tr>
                <td style="width: 150px;">2nd Place</td>
                <td style="width: 200px;">Java</td>
                <td style="width: 250px;">Tyler Seader, Arthur Weagel</td>
            </tr>
            <tr>
                <td style="width: 150px;">3rd Place</td>
                <td style="width: 200px;">Visual Studio Application Development</td>
                <td style="width: 250px;">Eric Christensen, Nathan Cooper</td>
            </tr>
            <tr>
                <td style="width: 150px;">Honorable Mention</td>
                <td style="width: 200px;">Java</td>
                <td style="width: 250px;">Nathan Cooper, James Kershaw</td>
            </tr>
            <tr>
                <td style="width: 150px;">Honorable Mention</td>
                <td style="width: 200px;">Visual Studio Application Development</td>
                <td style="width: 250px;">Tyler Seader, Arthur Weagel</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2010 table -->

    <h3>2010 Winners</h3>

    <p><font style="left: 0.5in; position: relative;"><a href="https://marriottschool.byu.edu/bsis/images/2010winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Eric Christensen, Tyler Seader</td>
            </tr>
            <tr>
                <td style="width: 150px;">1st Place</td>
                <td style="width: 200px;">Business Intelligence</td>
                <td style="width: 250px;">Benjamin Bytheway, Bryce Clark</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Visual Studio Application Development</td>
                <td style="width: 250px">Benjamin Bytheway, Bryce Clark, Nathanael Eborn, Spencer Robinson</td>
            </tr>
            <tr>
                <td style="width: 150px;">2nd Place</td>
                <td style="width: 200px;">Systems Analysis and Design</td>
                <td style="width: 250px;">Benjamin Bytheway, Spencer Robinson</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Business Intelligence</td>
                <td style="width: 250px">Spencer Robinson, Tyler Seader</td>
            </tr>
            <tr>
                <td style="width: 150px;">2nd Place</td>
                <td style="width: 200px;">Java</td>
                <td style="width: 250px;">Benjamin Bytheway, Spencer Robinson</td>
            </tr>
            <tr>
                <td style="width: 150px;">3rd Place</td>
                <td style="width: 200px;">Java</td>
                <td style="width: 250px;">Nathanael Eborn, Eric Christensen</td>
            </tr>
            <tr>
                <td style="width: 150px;">Honorable Mention</td>
                <td style="width: 200px;">Database Design</td>
                <td style="width: 250px;">Nathanael Eborn, Tyler Seader</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2009 table -->

    <h3>2009 Winners</h3>

    <p><font style="left: 0.5in; position: relative;"><a href="https://marriottschool.byu.edu/bsis/images/2009winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">GIS/Business Intelligence</td>
                <td style="width: 250px">David Wilson, Bryce Clark</td>
            </tr>
            <tr>
                <td style="width: 150px;">2nd Place</td>
                <td style="width: 200px;">Microsoft Office Solutions</td>
                <td style="width: 250px;">Robert Mount, Landon Cope</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">GIS/Business Intelligence</td>
                <td style="width: 250px">Reed Olsen, Devin Collier</td>
            </tr>
            <tr>
                <td style="width: 150px;">3rd Place</td>
                <td style="width: 200px;">Systems Analysis &amp; Design</td>
                <td style="width: 250px;">Landon Cope, Devin Collier</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Application Development</td>
                <td style="width: 250px">David Wilson, Reed Olsen, Devin Collier</td>
            </tr>
            <tr>
                <td style="width: 150px;">3rd Place</td>
                <td style="width: 200px;">Java Developer</td>
                <td style="width: 250px;">Robert Mount, Bryce Clark</td>
            </tr>
        </tbody>
    </table>
    <!-- Here begins 2008 winners -->

    <h3>2008 Winners</h3>

    <p><font style="left: 0.5in; position: relative;"><a href="https://marriottschool.byu.edu/bsis/images/2008winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <table class="award-winners" style="left: 0.5in; position: relative;">
        <tbody>
            <tr>
                <td style="width: 150px;"><b><span style="text-decoration: underline;">Place</span></b></td>
                <td style="width: 200px;"><b><span style="text-decoration: underline;">Event</span></b></td>
                <td style="width: 250px;"><b><span style="text-decoration: underline;">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Systems Analysis &amp; Design</td>
                <td style="width: 250px">Scott Fitzgerald, Artan Ismaili</td>
            </tr>
            <tr>
                <td style="width: 150px;">Honorable Mention</td>
                <td style="width: 200px;">PC Troubleshooting</td>
                <td style="width: 250px;">Reed Olsen</td>
            </tr>
        </tbody>
    </table>

    <h3>2007 Winners</h3>

    <p><font style="left: 0.5in; position: relative"><a href="https://marriottschool.byu.edu/bsis/images/2007winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <p>&nbsp;</p>

    <table class="award-winners" style="left: 0.5in; position: relative">
        <tbody>
            <tr>
                <td style="width: 150px"><b><span style="text-decoration: underline">Place</span></b></td>
                <td style="width: 200px"><b><span style="text-decoration: underline">Event</span></b></td>
                <td style="width: 250px"><b><span style="text-decoration: underline">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Microsoft Office Solutions</td>
                <td style="width: 250px">Fernando Mladineo, Trent Nelson</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Microsoft Office Solutions</td>
                <td style="width: 250px">Craig Marshall, Daniel Beutler</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Jeff Jenkins, Daniel Beutler</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Business Intelligence</td>
                <td style="width: 250px">Craig Marshall, Fernando Mladineo</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Microsoft Office Solutions</td>
                <td style="width: 250px">Scott Gillins, Jeff Jenkins</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">PC Troubleshooting</td>
                <td style="width: 250px">Scott Gillins, Trent Nelson</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Fernando Mladineo, Craig Marshall</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Business Intelligence</td>
                <td style="width: 250px">Jeff Jenkins, Daniel Beutler</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>

    <p>&nbsp;</p>

    <h3>2006 Winners</h3>

    <p><font style="left: 0.5in; position: relative"><a href="https://marriottschool.byu.edu/bsis/images/2006trophies.jpg" target="_blank">Click here for pictures</a></font></p>

    <p>&nbsp;</p>

    <table class="award-winners" style="left: 0.5in; position: relative">
        <tbody>
            <tr>
                <td style="width: 150px"><b><span style="text-decoration: underline">Place</span></b></td>
                <td style="width: 200px"><b><span style="text-decoration: underline">Event</span></b></td>
                <td style="width: 250px"><b><span style="text-decoration: underline">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Graduate Project</td>
                <td style="width: 250px">Nicholas Barrett, Robert Turner</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">Jason Case, Kent Broadbent</td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Matt Anderton, Nathan Skousen</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">James Zimmerman, Stephen Todd</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Kent Broadbent, James Zimmerman</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Web Design</td>
                <td style="width: 250px">Stephen Todd, Matt Anderton</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>

    <p>&nbsp;</p>

    <h3>2005 Winners</h3>

    <p><font style="left: 0.5in; position: relative"><a href="https://marriottschool.byu.edu/bsis/images/2005trophies.jpg" target="_blank">Click here for pictures</a></font></p>

    <p>&nbsp;</p>

    <table class="award-winners" style="left: 0.5in; position: relative">
        <tbody>
            <tr>
                <td style="width: 150px"><b><span style="text-decoration: underline">Place</span></b></td>
                <td style="width: 200px"><b><span style="text-decoration: underline">Event</span></b></td>
                <td style="width: 250px"><b><span style="text-decoration: underline">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">1st Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Slawomir Blakiewicz</td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Kurt Kirkham</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Slawomir Blakiewicz</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Systems Analysis and Design</td>
                <td style="width: 250px">Kirt Kirkham, Robert Turner</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>

    <p>&nbsp;</p>

    <h3>2004 Winners</h3>

    <p><font style="left: 0.5in; position: relative"><a href="https://marriottschool.byu.edu/bsis/images/2004winners.jpg" target="_blank">Click here for pictures</a></font></p>

    <p>&nbsp;</p>

    <table class="award-winners" style="left: 0.5in; position: relative">
        <tbody>
            <tr>
                <td style="width: 150px"><b><span style="text-decoration: underline">Place</span></b></td>
                <td style="width: 200px"><b><span style="text-decoration: underline">Event</span></b></td>
                <td style="width: 250px"><b><span style="text-decoration: underline">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">2nd Place</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">Sherman Beus, Kurt Kirkham</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">Robert Turner, Shaun Smith</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Brandon Camp, Shaun Smith</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Database Design</td>
                <td style="width: 250px">Sean Wilson, Robert Turner</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">Brandon Camp, Sean Wilson</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>

    <p>&nbsp;</p>

    <h3>2003 Winners</h3>

    <table class="award-winners" style="left: 0.5in; position: relative">
        <tbody>
            <tr>
                <td style="width: 150px"><b><span style="text-decoration: underline">Place</span></b></td>
                <td style="width: 200px"><b><span style="text-decoration: underline">Event</span></b></td>
                <td style="width: 250px"><b><span style="text-decoration: underline">Winners</span></b></td>
            </tr>
            <tr>
                <td style="width: 150px">Top Score</td>
                <td style="width: 200px">ICCP Exam</td>
                <td style="width: 250px">John Caldwell</td>
            </tr>
            <tr>
                <td style="width: 150px">3rd Place</td>
                <td style="width: 200px">Java Programming</td>
                <td style="width: 250px">Shaun Smith</td>
            </tr>
            <tr>
                <td style="width: 150px">Honorable Mention</td>
                <td style="width: 200px">Web Development Exam</td>
                <td style="width: 250px">John Caldwell</td>
            </tr>
        </tbody>
        <tbody></tbody>
    </table>

    <p>&nbsp;</p>
</div>

