
@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<div id="content-div">
    <h1>Careers Overview</h1>
    <h2>Information Systems Careers from Bureau of Labor Statistics</h2>
    <p>
        Information Systems Professionals have a multitude of job
        opportunities and can work in almost any industry. On average,
        graduates of the Information Systems Program receive the highest salary
        job offers of any program in the Marriott School of Business. The
        following is a list of common jobs pursued by Information Systems
        graduates:
    </p>
    <h3>Systems Analyst</h3>
    <h4>Description</h4>
    <p>
        Systems analysts solve computer problems and apply computer
        technology to meet the individual needs of an organization. They help
        an organization to realize the maximum benefit from its investment in
        equipment, personnel, and business processes. Systems analysts may plan
        and develop new computer systems or devise ways to apply existing
        systems' resources to additional operations. They may design new
        systems, including both hardware and software, or add a new software
        application to harness more of the computer's power. Most systems
        analysts work with specific types of systems--for example, business,
        accounting, or financial systems, or scientific and engineering systems
        that vary with the kind of organization. Some systems analysts also are
        known as systems developers or systems architects.
    </p>
    <p>
        Systems analysts begin an assignment by discussing the systems
        problem with managers and users to determine its exact nature. Defining
        the goals of the system and dividing the solutions into individual
        steps and separate procedures, systems analysts use techniques such as
        structured analysis, data modeling, information engineering,
        mathematical model building, sampling, and cost accounting to plan the
        system. They specify the inputs to be accessed by the system, design
        the processing steps, and format the output to meet users' needs. They
        also may prepare cost-benefit and return-on-investment analyses to help
        management decide whether implementing the proposed technology will be
        financially feasible.
    </p>
    <h4>Working Conditions</h4>
    <p>
        They usually work about 40 hours a week--the same as many other
        professional or office workers do. However, evening or weekend work may
        be necessary to meet deadlines or solve specific problems. Given the
        technology available today, telecommuting is common for computer
        professionals. As networks expand, more work can be done from remote
        locations through modems, laptops, electronic mail, and the Internet.
    </p>
    <h4>Earnings</h4>
    <p>
        Median annual earnings of computer systems analysts were $62,890 in
        2002. The middle 50 percent earned between $49,500 and $78,350 a year.
        The lowest 10 percent earned less than $39,270, and the highest 10
        percent earned more than $93,400.
    </p>

    <h3>Database Administrator</h3>
    <h4>Description</h4>
    <p>
        With the Internet and electronic business generating large volumes of
        data, there is a growing need to be able to store, manage, and extract
        data effectively. Database administrators work with database management
        systems software and determine ways to organize and store data. They
        identify user requirements, set up computer databases, and test and
        coordinate modifications to the systems. An organization's database
        administrator ensures the performance of the system, understands the
        platform on which the database runs, and adds new users to the system.
        Because they also may design and implement system security, database
        administrators often plan and coordinate security measures. With the
        volume of sensitive data generated every second growing rapidly, data
        integrity, backup systems, and database security have become
        increasingly important aspects of the job of database administrators.
    </p>
    <h4>Working Conditions</h4>
    <p>
        They usually work about 40 hours a week'the same as many other
        professional or office workers do. However, evening or weekend work may
        be necessary to meet deadlines or solve specific problems. Given the
        technology available today, telecommuting is common for computer
        professionals. As networks expand, more work can be done from remote
        locations through modems, laptops, electronic mail, and the Internet.
    </p>
    <h4>Earnings</h4>
    <p>
        Median annual earnings of database administrators were $55,480 in
        2002. The middle 50 percent earned between $40,550 and $75,100. The
        lowest 10 percent earned less than $30,750, and the highest 10 percent
        earned more than $92,910. In 2002, median annual earnings of database
        administrators employed in computer system design and related services
        were $66,650, and, for those in management of companies and
        enterprises, earnings were $59,620.
    </p>

    <h3>Computer Programmer</h3>
    <h4>Description</h4>
    <p>
        Programmers write programs according to the specifications determined
        primarily by computer software engineers and systems analysts. After
        the design process is complete, it is the job of the programmer to
        convert that design into a logical series of instructions that the
        computer can follow. The programmer then codes these instructions in a
        conventional programming language.
    </p>
    <h4>Working Conditions</h4>
    <p>
        Programmers generally work in offices in comfortable surroundings.
        Many programmers may work long hours or weekends to meet deadlines or
        fix critical problems that occur during off hours. Given the technology
        available, telecommuting is becoming common for a wide range of
        computer professionals, including computer programmers. As computer
        networks expand, more programmers are able to make corrections or fix
        problems remotely by using modems, e-mail, and the Internet to connect
        to a customer's computer.
    </p>
    <h4>Earnings</h4>
    <p>
        Median annual earnings of computer programmers were $60,290 in 2002.
        The middle 50 percent earned between $45,960 and $78,140 a year. The
        lowest 10 percent earned less than $35,080; the highest 10 percent
        earned more than $96,860.
    </p>

    <h3>Project Managers</h3>
    <h4>Description</h4>
    <p>
        Project managers develop requirements, budgets, and schedules for
        their firm's information technology projects. They coordinate such
        projects from development through implementation, working with internal
        and external clients, vendors, consultants, and computer specialists.
        These managers are increasingly involved in projects that upgrade the
        information security of an organization.
    </p>
    <h4>Working Conditions</h4>
    <p>
        Project managers spend most of their time in an office. Most work at
        least 40 hours a week and may have to work evenings and weekends to
        meet deadlines or solve unexpected problems. Some computer and
        information systems managers may experience considerable pressure in
        meeting technical goals within short timeframes or tight budgets. As
        networks continue to expand and more work is done remotely, computer
        and information system managers have to communicate with and oversee
        offsite employees using modems, laptops, e-mail, and the Internet.
    </p>
    <h4>Earnings</h4>
    <p>
        Earnings for computer and information systems managers vary by
        specialty and level of responsibility. Median annual earnings of these
        managers in 2002 were $85,240. The middle 50 percent earned between
        $64,150 and $109,950. The lowest 10 percent earned less than $47,440,
        and the highest 10 percent earned more than $140,440.
    </p>


    <h3>Management Information Systems Director</h3>
    <h4>Description</h4>
    <p>
        Management information systems (MIS) directors manage information
        systems and computing resources for their entire organization. They may
        also work under the chief information officer and plan and direct the
        work of subordinate information technology employees. These managers
        oversee a variety of user services such as an organization's help desk,
        which employees can call with questions or problems. MIS directors also
        may make hardware and software upgrade recommendations based on their
        experience with an organization's technology. Helping to assure the
        availability, continuity, and security of data and information
        technology services are key responsibilities for these workers.
    </p>
    <h4>Working Conditions</h4>
    <p>
        MIS directors spend most of their time in an office. Most work at
        least 40 hours a week and may have to work evenings and weekends to
        meet deadlines or solve unexpected problems. Some computer and
        information systems managers may experience considerable pressure in
        meeting technical goals within short timeframes or tight budgets. As
        networks continue to expand and more work is done remotely, computer
        and information system managers have to communicate with and oversee
        offsite employees using modems, laptops, e-mail, and the Internet.
    </p>
    <h4>Earnings</h4>
    <p>
        Earnings for computer and information systems managers vary by
        specialty and level of responsibility. Median annual earnings of these
        managers in 2002 were $85,240. The middle 50 percent earned between
        $64,150 and $109,950. The lowest 10 percent earned less than $47,440,
        and the highest 10 percent earned more than $140,440.
    </p>


    <h3>Network Administrators</h3>
    <h4>Descriptions</h4>
    <p>
        Network administrators design, install, and support an organization's
        LAN (local-area network), WAN (wide-area network), network segment,
        Internet, or intranet system. They provide day-to-day onsite
        administrative support for software users in a variety of work
        environments, including professional offices, small businesses,
        government, and large corporations. They maintain network hardware and
        software, analyze problems, and monitor the network to ensure its
        availability to system users. These workers gather data to identify
        customer needs and then use that information to identify, interpret,
        and evaluate system and network requirements. Administrators also may
        plan, coordinate, and implement network security measures.
    </p>
    <h4>Working Conditions</h4>
    <p>
        They usually work about 40 hours a week, but that may include being
        "on call" via pager or telephone for rotating evening or weekend work
        if the employer requires computer support over extended hours. Overtime
        may be necessary when unexpected technical problems arise.
    </p>
    <h4>Earnings</h4>
    <p>
        Median annual earnings of network and computer systems administrators
        were $54,810 in 2002. The middle 50 percent earned between $43,290 and
        $69,530. The lowest 10 percent earned less than $34,460, and the
        highest 10 percent earned more than $86,440.
    </p>

    <h3>Computer Support Specialist</h3>
    <h4>Description</h4>
    <p>
        Computer support specialists provide technical assistance, support,
        and advice to customers and other users. This occupational group
        includes technical support specialists and help-desk technicians. These
        troubleshooters interpret problems and provide technical support for
        hardware, software, and systems. They answer telephone calls, analyze
        problems using automated diagnostic programs, and resolve recurrent
        difficulties. Support specialists may work either within a company that
        uses computer systems or directly for a computer hardware or software
        vendor. Increasingly, these specialists work for help-desk or support
        services firms, where they provide computer support to clients on a
        contract basis.
    </p>
    <h4>Working Conditions</h4>
    <p>
        As computer networks expand, more computer support specialists and
        systems administrators may be able to connect to a customer's computer
        remotely, using modems, laptops, e-mail, and the Internet, to provide
        technical support to computer users. This capability would reduce or
        eliminate travel to the customer's workplace. Systems administrators
        also can administer and configure networks and servers remotely,
        although this practice is not as common as it is with computer support
        specialists.
    </p>
    <h4>Earnings</h4>
    <p>
        Median annual earnings of computer support specialists were $39,100
        in 2002. The middle 50 percent earned between $29,760 and $51,680. The
        lowest 10 percent earned less than $23,060, and the highest 10 percent
        earned more than $67,550.
    </p>
</div>

