
@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<div id="content-div">
    <h1>Information Systems, Department of</h1><h2 style="font-size: 140%;">Full-Time Faculty</h2><hr>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5293"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu/msmadmin/person/securefile/empphoto/?file=b0%2F5293.jpg" border="0" alt="Conan Albrecht"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5293">Conan Albrecht</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Professor of Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>780 TNRB<br>


                        <b>Email: </b> <a href="mailto:ca@byu.edu">ca@byu.edu</a><br>

                        <b>Home Page:</b> <a href="http://warp.byu.edu/">http://warp.byu.edu/</a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5487"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5487.jpg" border="0" alt="Gove Allen"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5487">Gove Allen</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Professor of<br> Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>778 TNRB<br>

                        <b>Phone: </b>(801) 422-1206<br>
                        <b>Email: </b> <a href="mailto:gove@byu.edu">gove@byu.edu</a><br>

                        <b>Home Page:</b> <a href="http://gove.net">http://gove.net</a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=1478"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F1478.jpg" border="0" alt="Bonnie Anderson"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=1478">Bonnie Anderson</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Professor of<br> Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>776 TNRB<br>





                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=29146"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b2%2F29146.jpg" border="0" alt="Greg Anderson"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=29146">Greg Anderson</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Teaching Professor</span></b><br>

                        <br>
                        <b>Office: </b>782 TNRB<br>

                        <b>Phone: </b>(801) 529-6200<br>
                        <b>Email: </b> <a href="mailto:profganderson@byu.edu">profganderson@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5305"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5305.jpg" border="0" alt="Doug Dean"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5305">Doug Dean</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Professor of<br> Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>786 TNRB<br>

                        <b>Phone: </b>(801) 830-8677<br>
                        <b>Email: </b> <a href="mailto:doug_dean@byu.edu">doug_dean@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5438"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5438.jpg" border="0" alt="James Gaskin"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5438">James Gaskin</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Assistant Professor</span></b><br>

                        <br>
                        <b>Office: </b>785 TNRB<br>

                        <b>Phone: </b>(801) 636-2985<br>
                        <b>Email: </b> <a href="mailto:james.gaskin@byu.edu">james.gaskin@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=26429"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b2%2F26429.jpg" border="0" alt="Jeff Jenkins"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=26429">Jeff Jenkins</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Assistant Professor</span></b><br>

                        <br>
                        <b>Office: </b>783 TNRB<br>

                        <b>Phone: </b>(385) 335-9856<br>
                        <b>Email: </b> <a href="mailto:jeffrey_jenkins@byu.edu">jeffrey_jenkins@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=29237"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b2%2F29237.jpg" border="0" alt="Mark Keith"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=29237">Mark Keith</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Assistant Professor</span></b><br>

                        <br>





                        <b>Home Page:</b> <a href="http://www.mjk.name">http://www.mjk.name</a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5352"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5352.jpg" border="0" alt="Steve Liddle"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5352">Steve Liddle</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Professor of Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>784 TNRB<br>

                        <b>Phone: </b>(801) 422-8792<br>
                        <b>Email: </b> <a href="mailto:liddle@byu.edu">liddle@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5345"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5345.jpg" border="0" alt="Rayman Meservy"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5345">Rayman Meservy</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Professor of<br> Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>788 TNRB<br>

                        <b>Phone: </b>(801) 362-2083<br>
                        <b>Email: </b> <a href="mailto:rayman_meservy@byu.edu">rayman_meservy@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=22394"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b2%2F22394.jpg" border="0" alt="Tom Meservy"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=22394">Tom Meservy</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Teaching Professor</span></b><br>

                        <br>
                        <b>Office: </b>781 TNRB<br>

                        <b>Phone: </b>(801) 473-0824<br>
                        <b>Email: </b> <a href="mailto:tmeservy@byu.edu">tmeservy@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5325"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5325.jpg" border="0" alt="Marshall Romney"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5325">Marshall Romney</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Chairman, Information Systems Department, John and<br> Nancy Hardy Professor of Information Systems</span></b><br>

                        <br>
                        <b>Office: </b>790A TNRB<br>

                        <b>Phone: </b>(801) 422-5704<br>
                        <b>Email: </b> <a href="mailto:mbr@byu.edu">mbr@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5427"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5427.jpg" border="0" alt="Anthony Vance"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5427">Anthony Vance</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Associate Professor</span></b><br>

                        <br>
                        <b>Office: </b>613 TNRB<br>

                        <b>Phone: </b>(801) 361-2531<br>
                        <b>Email: </b> <a href="mailto:anthony.vance@byu.edu">anthony.vance@byu.edu</a><br>

                        <b>Home Page:</b> <a href="http://anthonyvance.com">http://anthonyvance.com</a><br>
                    </td>
                </tr>
            </tbody>
        </table>
    </div><h2 style="font-size: 140%;">Part-Time Faculty</h2><hr>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=12859"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b1%2F12859.jpg" border="0" alt="Lara Burton"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=12859">Lara Burton</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Adjunct Professor</span></b><br>

                        <br>
                        <b>Office: </b>2254 TMCB<br>


                        <b>Email: </b> <a href="mailto:lsburton@byu.edu">lsburton@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=33883"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b3%2F33883.jpg" border="0" alt="Christian Faulconer"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=33883">Christian Faulconer</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Adjunct Professor</span></b><br>

                        <br>
                        <b>Office: </b>B-202 ASB<br>

                        <b>Phone: </b>(801) 422-4690<br>
                        <b>Email: </b> <a href="mailto:cf@byu.edu">cf@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=5395"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b0%2F5395.jpg" border="0" alt="Ernie Nielsen"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=5395">Ernie Nielsen</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Adjunct Professor</span></b><br>

                        <br>
                        <b>Office: </b>3220 ITB<br>

                        <b>Phone: </b>(801) 422-7143<br>
                        <b>Email: </b> <a href="mailto:ernie@byu.edu">ernie@byu.edu</a><br>


                    </td>
                </tr>
            </tbody>
        </table>
    </div><h2 style="font-size: 140%;">Administrative and Full-Time Staff</h2><hr>

    <div style="border-bottom: 1px solid #EEEEEE; margin-left: 25px; padding: 5px 0 5px 0;">
        <table style="table-layout: fixed; width: 725px;">
            <tbody>
                <tr>
                    <td valign="top" style="width: 165px;">
                        <a href="/directory/details?id=30648"><img style="max-width: 150px; max-height: 200px; padding-right: 15px;" src="https://marriottschool.byu.edu//msmadmin/person/securefile/empphoto/?file=b3%2F30648.jpg" border="0" alt="Caroline Thorne"></a><br>

                    </td>
                    <td valign="top">
                        <span style="font-size:1.5em;"><b><a href="/directory/details?id=30648">Caroline Thorne</a></b></span><br><br>
                        <b><span style="font-size:1.2em;">Program Advisor</span></b><br>

                        <br>
                        <b>Office: </b>789 TNRB<br>

                        <b>Phone: </b>(801) 422-5602<br>



                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

