
@{
    Layout = "~/Views/Shared/_LayoutSideNav.cshtml";
}

<div>
    <h1>Internships</h1>
    <h2 class="msm-intro-p">Overview</h2>
    <p class="msm-intro-p">The Marriott School encourages all students to add value to their academic education with an internship related to their major, whether for academic credit or not. As students gain&nbsp;hands-on work experience, they are able to assess their interests, build&nbsp;confidence, and develop professional skills. Many students have found that internships are the best route to full-time employment after&nbsp;graduation.</p>
    <h3>Eligibility</h3>
    <p>The following criteria are required in order to receive academic&nbsp;credit for an internship:&nbsp;</p>
    <ul>
        <li>Internships must be directly related to your major, incorporate coursework learning, and require higher-level reasoning skills.</li>
        <li>Internships must be completed within the semester you are registered.</li>
        <li>Interns must have an employer supervisor to train, mentor, and evaluate them.</li>
        <li>Interns must work at least fifty&nbsp;hours for every credit hour they are taking.</li>
    </ul>
    <h3>Academic Credit Necessity</h3>
    <p>Students with the following circumstances should consider enrolling to receive academic credit:</p>
    <ul>
        <li>International students: Foreign students must be enrolled for internship credit to work on a student visa (unless they are not being compensated in any&nbsp;way).</li>
        <li>Financial aid/scholarships: Many students need credit hours or another period of enrollment to maintain scholarship eligibility or to qualify for financial aid.</li>
        <li>Company Requirements: Some companies pay their interns with wages that are qualified as scholarship money. For tax purposes they require all students to enroll for credit.</li>
        <li>Elective credit: BUS M 496R&nbsp;may fulfill a Marriott School elective requirement if the student is&nbsp;a declared management major (excluding OBHR students) and if the course is taken for three&nbsp;credit hours. Only one internship course (Bus M 491R, 494R, or 496R) may be used as a Marriott School elective.</li>
        <li>Graduate school: In some cases, academic internship credit may be desirable for students applying to graduate school.</li>
    </ul>
    <p>Aside from the reasons listed above, there is very little benefit in taking the BUS M 496R or BUS M 199R courses. Many students have the impression that an internship is not legitimate unless they receive academic credit. A line item on your transcript is not needed to validate the internship on your résumé. Most students can avoid the extra work and tuition cost.</p>
    <h3>Bus M 199R &amp;&nbsp;Bus M 496R Differences</h3>
    <p>BUS M 199R is a pass/fail course&nbsp;that can be taken by premanagement and Marriott School students.</p>
    <p>BUS M 496R is a graded course that can be taken by students accepted to the Marriott School. This course may only be taken once.</p>
    <p>The coursework for BUS M 199R and BUS M 496R is the same. You are responsible for completing all assignments during the term/semester that you are registered for the course.</p>
    <h3>Application Process</h3>
    <p>To receive academic credit, students will need to complete&nbsp;the following steps:</p>
    <ol>
        <li>Fill out the&nbsp;<a href="http://link.byu.edu/INTERN01">online student internship application</a></li>
        <li>Schedule a meeting&nbsp;with an internship coordinator (see contact information below)</li>
        <li>
            Fill out, sign, and return the following paperwork to an internship coordinator in Undergraduate Advisement located in 460 TNRB:
            <ul>
                <li><a href="/internships/wp-content/uploads/sites/11/2015/07/ExperienceInformationSheet1.pdf">Experience Information Sheet</a></li>
                <li><a href="/internships/wp-content/uploads/sites/11/2015/07/StudentContract_Bus_M_199R1.pdf">Student Contract for BUS M 199R</a> or <a href="/internships/wp-content/uploads/sites/11/2015/07/StudentContract_Bus_M_496R.pdf">Student Contract for BUS M 496R</a></li>
                <li><a href="https://intern.byu.edu/sites/intern.byu.edu/files/files/InternshipMasterAgreement.pdf">Master Agreement</a></li>
            </ul>
        </li>
    </ol>
    <p>Once your online application and paperwork is submitted, we will approve or decline your application. If your application is approved, you will receive an email giving you permission to add the course (BUS M 199R or 496R) through MyMap. You will not be able to add the course until you receive this email.&nbsp;This process may&nbsp;take up to seven&nbsp;business days.</p>
    <h3>Course Syllabus</h3>
    <p>Please&nbsp;read the <a href="/internships/course-syllabus/">course syllabus</a> before adding the course. Reading the syllabus will help you know how many credits to take (1–3) and what is required for each option. The syllabus will also outline the course work that is required of you.&nbsp;For questions regarding credit for internships during Spring and Summer terms, please contact an internship coordinator directly using the contact information below.</p>
    <h2>Contact Us</h2>
    <p>Marriott School of Management<br>460 TNRB<br>(801) 422-4573<br><a href="mailto:msm_internship@byu.edu">msm_internship@byu.edu</a></p>
</div>

